@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Kalam:wght@300;400;700&family=Montserrat+Alternates:wght@400;700&family=Noto+Sans:wght@400;700&family=Quicksand:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 80vh;
    background: #2F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.right-login {
    width: 45vw;
    height: 80vh;
    display: flex;
    align-items: center;
}

.card-login {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #233b3b;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #141f1f;
}

.card-login>h1 {
    color: #fff;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    justify-content: space-between;
}

.textfield>input {
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #395f5f;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #192121;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #ffffff;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #767977;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #003434;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 10px 40px #192121;
    align-self: center;
}

@media (max-width:600px) {
    .main-login {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .left-login-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}